In [1]:
#1 program to change a given string to a new string where the first and last chars have been exchanged. [eg: python -> nythop]


string=input("enter a string:")
newstring=string[-1] + string[1:-1] + string [0]
    
print(f"{string} =",newstring)

enter a string:python
python = nythop

In [2]:
#2 program to get a single string from two given strings, separated by a space and swap the first two characters of each string

s1=input("enter a string:")
s2=input("enter a string:")
print(f"{s1} {s2}")
print(s2[:2]+s1[2:],s1[:2]+s2[2:])

enter a string:hello
enter a string:world
hello world
wollo herld

In [3]:
#3 program to get a string from a given string where all occurrences of its first char have been changed to $, except the first char itself.[ex: onionïƒ oni$n]

string=input("enter a string:")
firstchar=string[0]
newstring=firstchar + string[1:].replace(firstchar,'$')
print(f"{string} =",newstring)

enter a string:onion
onion = oni$n

In [4]:
#4 Create a list of colors from comma-separated color names entered by user. Display first and last colors.

colors=list(input("Enter colors seperated by comma:").split(','))
print(f"First color={colors[0]}")
print(f"Last color={colors[-1]}")

Enter colors seperated by comma:red,green,blue,yellow
First color=red
Last color=yellow

In [5]:
#5 program to accept a filename from the user, print extension of that. (using list)

ext=input("enter file name:")
print(f"extension of the file is",ext.split('.')[-1])

enter file name:image.jpg
extension of the file is jpg

In [6]:
#6 program to get the 3rd element and 3rd  element from last of a tuple.

values=tuple(input("enter the values for tuple seperated by comma:").split(','))
print("3rd element is",values[2],"and 3rd element from last is",values[-3])

enter the values for tuple seperated by comma:1,2,3,4,5,6,7
3rd element is 3 and 3rd element from last is 5

In [7]:
#7 program to print all colors from color-set1, not contained in color-set2.

color_set1=set(input("enter colors seperated by comma:").split(','))
color_set2=set(input("enter colors seperated by comma:").split(','))
print("Final color set = ",color_set1 - color_set2)

enter colors seperated by comma:red,green,blue,yellow
enter colors seperated by comma:green,white,cyan
Final color set =  {'blue', 'red', 'yellow'}

In [3]:
#8 program to sort dictionary in ascending and descending order. (Accept 5 student names from user.)

roll=input("enter 5 roll no's seperated by comma:").split(',')
name=input("enter 5 names of students seperated by comma:").split(',')
d={roll[0]:name[0],roll[1]:name[1],roll[2]:name[2],roll[3]:name[3],roll[4]:name[4]}
print("Dictionary=",d)
sort=dict(sorted(d.items()))
print("Ascending order=",sort)
rev_sort=dict(sorted(d.items(),reverse=True))
print("Descending order=",rev_sort)

enter 5 roll no's seperated by comma:2,5,3,1,4
enter 5 names of students seperated by comma:yaseen,arun,saneen,amil,aswin
Dictionary= {'2': 'yaseen', '5': 'arun', '3': 'saneen', '1': 'amil', '4': 'aswin'}
Ascending order= {'1': 'amil', '2': 'yaseen', '3': 'saneen', '4': 'aswin', '5': 'arun'}
Descending order= {'5': 'arun', '4': 'aswin', '3': 'saneen', '2': 'yaseen', '1': 'amil'}

In [15]:
#9 program to Merge two dictionaries. (Dic 1 contains 3 student names, dic2 contains 2 student names)

dict1={'student1':'amil' ,'student2':'nishan','student3':'shanu'}
dict2={'student4':'yaseen','student5':'arun'}
dict1.update(dict2)
print("merged dictionary=",dict1)

merged dictionary= {'student1': 'amil', 'student2': 'nishan', 'student3': 'shanu', 'student4': 'yaseen', 'student5': 'arun'}

In [16]:
#10 program to print all even numbers from 1 to 25 and calculate sum . (using the range() function directly without a loop or conditions)

even=list(range(2,25,2))
print("even numbers=",even)
print("sum=",sum(even))

even numbers= [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
sum= 156